altgraph==0.17
asgiref==3.2.3
captionbot==0.1.5
certifi==2019.11.28
chardet==3.0.4
Click==7.0
defusedxml==0.6.0
django-taggit==1.2.0
future==0.18.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
Markdown==3.1.1
MarkupSafe==1.1.1
numpy==1.18.0
oauthlib==3.1.0
pandas==0.25.3
pefile==2019.4.18
Pillow==7.0.0
psycopg2==2.8.4
PyInstaller==3.6
PyJWT==1.7.1
python-dateutil==2.8.1
python3-openid==3.1.0
pytz==2019.3
pywin32-ctypes==0.2.0
requests==2.22.0
requests-oauthlib==1.3.0
six==1.13.0
social-auth-app-django==2.1.0
social-auth-core==3.2.0
sorl-thumbnail==12.5.0
sqlparse==0.3.0
urllib3==1.25.7
virtualenv==16.7.9
Werkzeug==0.16.0
